
{% block title %} Stock Data Visualizer {% endblock %}

{% block content %}
    <h1>Stock Data Input</h1>
    <form action="{{API_KEY}}" method="POST">
        <label for="stock_select">Stock Ticker</label><br>
        <select id="graph_type" name="graph_type">
            <option value="null"> - </option>

        </select><br><br>

        <label for="graph_type">Graph Type</label><br>
        <select id="graph_type" name="graph_type">
            <option value="null"> - </option>
            <option value="Line">Line</option>
            <option value="Bar">Bar</option>
        </select><br><br>
        
        <label for="time_series_type">Graph Type</label><br>
        <select id="time_series_type" name="time_series_type">
            <option value="null"> - </option>
            <option value="Intraday">Intraday</option>
            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
        </select><br><br>
        
        <label for="start_date">Start Date</label><br>
        <input type="date" ><br><br>
        
        <label for="end_date">End Date</label><br>
        <input type="date" ><br><br>

        <input type="submit" value="Submit">

    </form>

{% endblock %}